name: WingetDownloader

on:
  workflow_dispatch:
    inputs:
      arch:
        description: "Build arch"
        required: true
        default: "x64"
        type: choice
        options:
        - x64
        - x86
        - arm64
        - arm
        
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      version: ""
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          
      - name: Install Dependencies
        run: pip install wget requests bs4 lxml
      
      - name: Run Script
        run: python WingetDownloader.py ${{ github.event.inputs.arch }} -portable -artifact 
      
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: winget_${{ env.version }}_${{ github.event.inputs.arch }}
          path: |
            winget.exe
            WindowsPackageManager.dll
            resources.pri
        
      - name: Delete Old Workflow Runs
        uses: MajorScruffy/delete-old-workflow-runs@v0.1.0
        with:
          repository: ${{ github.repository }}
          workflow: .github/workflows/WingetDownloader.yml
