name: winget

on:
  workflow_dispatch:
    inputs:
      arch:
        description: "Build arch"
        required: true
        default: "x64"
        type: choice
        options:
        - x64
        - x86
        - arm64
        - arm
        

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Installing dependencies
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - run: pip install wget requests bs4
      - name: Running script
        uses: actions/checkout@v3
      - run: python winget.py -${{ github.event.inputs.arch }}
      
